@import "./mixins.scss";

.flight_stay_container {
  width: 100%;
  height: 100%;

  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(141, 211, 187, 0.15);
  border-radius: 16px;
  margin-top: -100px;
  .flight_stay {
    padding: 30px 0px 0px 33px;
    display: flex;
    align-items: center;
  }
  .flight {
    @include flight_stay_main();
    .flight_text {
      @include flight_stay_text();
    }
    &:hover {
      border-bottom: 4px solid #8dd3bb;
    }
  }
  .stays {
    @include flight_stay_main();
    .stays_text {
      @include flight_stay_text();
    }
    &:hover {
      border-bottom: 4px solid #8dd3bb;
    }
  }
  .flight_stay_border {
    width: 48px;
    height: 0px;
    border: 1px solid #d7e2ee;
    transform: rotate(90deg);
  }

  .booking_section {
    padding: 33px 0px 0px 0px;
    display: flex;
    @media screen and (max-width: 1400px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 20px;
    }
    @media screen and (max-width: 992px) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-end;
      row-gap: 20px;
      align-content: center;
      align-items: center;
      padding: 2px 0px 0px 0px;
    }

    .from_to_container {
      padding: 0px 0px 0px 32px;
      .from_to {
        width: 324px;
        height: 56px;
        background: #ffffff;
        border: 1px solid #79747e;
        border-radius: 4px;
        position: relative;
        .fieldset_text {
          @include fieldset_text();
        }
        .lahore_karachi {
          display: flex;
          justify-content: space-around;
        }
      }
    }
    .trip_container {
      padding: 0px 0px 0px 24px;
      .trip {
        width: 140px;
        height: 56px;
        background: #ffffff;
        border: 1px solid #79747e;
        border-radius: 4px;
        position: relative;

        .fieldset_trip {
          @include fieldset_text();
        }
        .trip_button {
          display: flex !important;
          justify-content: space-around;
        }
      }
    }
    .depart_return_container {
      padding: 0px 0px 0px 24px;
      .depart_return {
        width: 324px;
        height: 56px;
        background: #ffffff;
        border: 1px solid #79747e;
        border-radius: 4px;
        position: relative;

        .fieldset_depart_return {
          @include fieldset_text();
        }
        .date {
          display: flex;
          justify-content: flex-start;
        }
      }
    }
    .passenger_class_container {
      padding: 0px 0px 0px 24px;
      .passenger_class {
        width: 324px;
        height: 56px;
        background: #ffffff;
        border: 1px solid #79747e;
        border-radius: 4px;
        position: relative;

        .fieldset_passenger_class {
          @include fieldset_text();
        }
        .return {
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  }
  .promo_flight {
    display: flex;
    justify-content: end;
    gap: 2rem;
    padding-right: 32px;
    .promo_plus {
      padding: 52px 0px 0px 0px;
      display: flex;
      align-items: baseline;
      gap: 5px;
      .promo_text {
        @include promo_flight_text();
      }
    }
    .show_flight {
      padding: 32px 0px 32px 0px !important;
      .button_tele {
        display: flex;
        width: 144px;
        height: 48px;
        background: #8dd3bb;
        border-radius: 4px;
        justify-content: center;
        gap: 5px;
        .show_flight_text {
          @include promo_flight_text();
          &:hover {
            color: rgb(13, 13, 13) !important;
          }
        }
        &:hover {
          background-color: transparent;
          color: white !important;
        }
      }
    }
  }
}
